/* Update UI based on how the PWA was launched */
/* If the PWA was launched as a PWA (rather than website) make the background-color yellow */
@media all and (display-mode: standalone) {
    body {
        background-color: yellow;
    }
}

.hidden {
  display: none !important;
}

.prompt-text {
  display: inline;
  float: left;
}

.dismiss {
  display:inline;
  float: right;
  margin: 0;
  color: inherit;
  padding: 10px;
  border: 1px #FFF solid;
  border-radius: 5px;
}

.nyrr-site {
  width: 100%;
  height: 1600px;
}

#poc-title {
    font-family: helvetica, sans-serif;
    text-align: center;
    -webkit-text-stroke: 1px black;
    color: red;
    border: 1px solid #ddd;
    width: fit-content;
    padding: 8px;

    position: absolute;
    margin: 0 auto 1rem;
    left: 1rem;
    right: 1rem;
    top: 200px;
}

/* Be sure to update the names of these classes */
#a2hs-prompt {
  background-color: rgb(59, 134, 196); /* Blue */
  border: none;
  display: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;

  position: absolute;
  margin: 0 1rem 1rem;
  left: 0;
  right: 0;
  bottom: 0;
  width: calc(100% - 32px);
}

#a2hs-prompt:hover {
    cursor: pointer;
}

.ios-prompt {
  background-color: #fcfcfc;
  border: 1px solid #666;
  display: none;
  padding: 0.8rem 1rem 0 0.5rem;
  text-decoration: none;
  font-size: 16px;
  color: #555;

  position: absolute;
  margin: 0 auto 1rem;
  left: 1rem;
  right: 1rem;
  bottom: 0;
}
